<article class="banner_offer">
    <div class="container">
        <div style="width: 100%; text-align: center; ">
            <div >
                <ul class="thumbnails">
                    <li class="span3">
                        <a href="#/cat/4.4.0">
                            <img class="static_ad_image" alt="Click to get 20% off in Watches" height="200"
                                 src="http://cdn-new-annectos.s3.amazonaws.com/images/smallbanner/kids/boysfootwear.jpg" width="200" /> <!-- mobiles_sony -->
                        </a>
                    </li>
                    <li class="span3">
                        <a  href="#/cat/4.4.0">
                            <img alt="" class="static_ad_image"
                                 src="http://cdn-new-annectos.s3.amazonaws.com/images/smallbanner/kids/girlsfootwear.jpg" width="200" /><!-- Men_adidas_shoes banner -->
                        </a>
                    </li>
                    <li class="span3">
                        <a  href="#/cat/4.4.1">
                            <img alt="" class="static_ad_image"
                                 src="http://cdn-new-annectos.s3.amazonaws.com/images/smallbanner/kids/sandalsgirls.jpg" width="200" /><!-- Sony_headphones banner -->
                        </a>
                    </li>
                    <li class="span3">
                        <a  href="#/cat/4.4.0">
                            <img alt="" class="static_ad_image"
                                 src="http://cdn-new-annectos.s3.amazonaws.com/images/smallbanner/kids/sandals.jpg" width="200" /><!-- Sony_headphones banner -->
                        </a>
                    </li>
                    <li class="span3">
                        <a  href="#/cat/4.2.1">
                            <img alt="" class="static_ad_image"
                                 src="http://cdn-new-annectos.s3.amazonaws.com/images/smallbanner/kids/shoes.jpg" width="200" /><!-- Sony_headphones banner -->
                        </a>
                    </li>
                    <li class="span3">
                        <a  href="#/cat/4.2.1">
                            <img alt="" class="static_ad_image"
                                 src="http://cdn-new-annectos.s3.amazonaws.com/images/smallbanner/kids/shoes_01.jpg" width="200" /><!-- Sony_headphones banner -->
                        </a>
                    </li>
                </ul>
            </div>
            <!--<div class="row-fluid">-->
                <!--<ul class="thumbnails">-->

                    <!--<li class="span4">-->
                        <!--<a  href="#/cat/2.6.0">-->
                            <!--<img alt="" class="static_ad_image"  src="http://cdn-new-annectos.s3.amazonaws.com/images/smallbanner/men/nike.jpg" width="200" /> &lt;!&ndash; Men_puma_shoes banner &ndash;&gt;-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="span4">-->
                        <!--<a  href="#/cat/4.2.0">-->
                            <!--<img alt="" class="static_ad_image"  src="http://cdn-new-annectos.s3.amazonaws.com/images/smallbanner/kids/crocskidscollection.jpg" width="200" /> &lt;!&ndash; kids_crocs banner &ndash;&gt;-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        </div>
</article>

</body>
</html>

