﻿ <article class="banner_offer">
<div class="container">
<div style="width: 100%; text-align: center; ">
	  <div class="row-fluid">
           <ul class="thumbnails">
              <li class="span4">
				<a href="#/cat/2.7.14">
                    <img class="static_ad_image" alt="Click to get 20% off in Watches"
                         src="http://cdn-new-annectos.s3.amazonaws.com/images/smallbanner/men/cottonsigns.jpg"
                         width="200" /> <!-- mobiles_sony -->
            	</a>
              </li>
              <li class="span4">
                    <a  href="#/cat/2.6.11">
                        <img alt="" class="static_ad_image"
                             src="http://cdn-new-annectos.s3.amazonaws.com/images/smallbanner/men/nikesneaker.jpg"
                             width="200" /><!-- Men_adidas_shoes banner -->
                    </a>
              </li>
                <li class="span4">
                    <a  href="#/cat/6.4.18">	
                        <img alt="" class="static_ad_image"
                             src="http://cdn-new-annectos.s3.amazonaws.com/images/smallbanner/men/philips.jpg"
                             width="200" /><!-- Sony_headphones banner -->
                    </a>
                </li>
           </ul>
</div>
     <div class="row-fluid">
        <ul class="thumbnails">      
               
    <li class="span4">
	<a  href="#/cat/2.7.1">
		<img alt="" class="static_ad_image"
             src="http://cdn-new-annectos.s3.amazonaws.com/images/smallbanner/men/pumstshirt.jpg" width="200" /> <!-- Men_puma_shoes banner -->
	</a>
    </li>
                <li class="span4">
                    <a  href="#/cat/2.4.3">
                        <img alt="" class="static_ad_image"
                             src="http://cdn-new-annectos.s3.amazonaws.com/images/smallbanner/men/reebokbag.jpg" width="200" /> <!-- kids_crocs banner -->
                    </a>
                </li>
            <li class="span4">
                <a  href="#/cat/2.4.1">
                    <img alt="" class="static_ad_image"
                         src="http://cdn-new-annectos.s3.amazonaws.com/images/smallbanner/men/timexwatches.jpg" width="200" /> <!-- kids_crocs banner -->
                </a>
            </li>
        </ul>
</div>
    </div>
     </article>
	 
</body>
</html>

