<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" data-ng-app="ECOMM.payment" id="ng-app">
<!--<meta http-equiv="Cache-control" content="public" Expires= "Tue, 1 Oct 2013 08:21:57 GMT">-->
<head>
    <base href="payment.html">
    <title>Annectos Online Store-Payment</title>
    <link rel="icon" type="image/ico" href="../Content/custom_images/favicon.ico" />
    <!--<link href="Content/bootstrap.css" rel="stylesheet" />-->
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="../Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="../Content/ecomm.css" rel="stylesheet" />
    <!--<link href="Content/jquery.jscrollpane.lozenge.css" rel="stylesheet" />-->
    <!--<link href="Content/ng-grid.min.css" rel="stylesheet" />-->
    <link href="../Content/styles.css" rel="stylesheet" />
    <!--[if lte IE 8]>
    <script>
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');

        // Optionally these for CSS
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');
    </script>
    <![endif]-->
    <!--[if lte IE 8]>
    <script src="../Scripts/json3.min.js"></script>
    <![endif]-->
</head>
<body>

<div>
    <!--position: absolute; left: 0; top:0; " >-->
    <!--    <div ng-controller="adController">

            <carousel interval="myInterval">
                <slide ng-repeat="slide in slides" active="slide.active">
                    <a href="{{slide.href}}">
                        <img ng-src="{{slide.image}}" style="width: 100%">
                    </a>

                </slide>
            </carousel>

        </div>
        <!--<div ng-include src="'partials/'+{{obj}}+'.html'"></div>
        <div ng-controller="adController" ng-include src="template.url"></div>-->

</div>

<!-- Start: HEADER -->
<!-- Start: HEADER -->
<header class="inner">
    <!-- Start: HEADER TOP PART-->
    <!-- End: HEADER TOP PART-->
</header>
<div animated-view></div>

<!-- Start: footer -->
<footer>
    <!--<div class="footer">-->
</footer>
<!-- Start: footer -->


<!-- Vendor Libs: jQuery only used for Bootstrap functionality -->
<!--<script src="Scripts/angular.js"></script>-->

<!--<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js"></script>


<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<!--<script src="http:////cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.min.js"></script>-->
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.9.0/ui-bootstrap-tpls.min.js"></script>


<!-- optional libraries -->
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.string/2.3.3/underscore.string.min.js"></script>

<!-------End ------------->
<script src="../Scripts/underscore-min.js"></script>
<script src="../Scripts/localStorageModule.js"></script>
<script src="../Scripts/xdate.js"></script>

<!-- Configs-->
<script src="../config/config.js"></script>
<script src="../config/ad.js"></script>
<script src="../config/pricing_rules.js"></script>
<!-- UI Libs -->
<script src="../Scripts/jquery.zoom-min.js"></script>
<script src="../Scripts/ui-utils.min.js"></script>
<script src="../Scripts/to-title-case.js"></script>




<!-- App libs -->
<script src="../payment/app/app.js"></script>
<!--<script src="app/util/util.js"></script>-->
<!--<script src="app/controllers/controllers.js"></script>-->
<!--New Controllers for Checkout App-->
<script src="../payment/app/controllers/paymentController.js"></script>
<script src="../app/controllers/adController.js"></script>
<!--Switching controllers-->
<!--<script src="../login/app/controllers/catController.js"></script>-->
<!--<script src="../login/app/controllers/staticNavController.js"></script>-->

<!--Reused Controllers from storefront-->
<!--<script src="../app/controllers/loginController.js"></script>-->
<!--<script src="../app/controllers/menuController.js"></script>-->
<!--<script src="../app/controllers/cartController.js"></script>-->



<!--Services-->
<!--New Services-->
<script src="../payment/app/services/paymentService.js"></script>
<script src="../payment/app/services/paymentService.js"></script>

<!-- Reused Services -->

<script src="../app/services/cartService.js"></script>
<script src="../app/services/utilService.js"></script>
<script src="../app/services/state_managerService.js"></script>
<script src="../app/services/adService.js"></script>
<script src="../app/services/menuService.js"></script>

<script src="../app/directives/animatedView.js"></script>

<!--[if lte IE 8]>
<script src="../Scripts/ieshiv.js"></script><![endif]-->
<!--<script>angular.bootstrap(document, ['ui.bootstrap ']);</script>-->
</body>
<!--<script>-->
<!--$(document).ready(function(){-->
<!--alert ("ssss")    ;-->
<!--$('.productImage')-->
<!--.wrap('<span style="display:inline-block"></span>')-->
<!--.css('display', 'block')-->
<!--.parent()-->
<!--.zoom();-->
<!--});-->
<!--</script>-->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-45400748-2', 'annectos.net');
    ga('send', 'pageview');

</script>
</html>
