<div class="brand view">
    <div class="container">
        <header>
            <h3>&nbsp</h3>
        </header>

        <div class="container cat-details" ng-controller="brandController">
            <span class="breadcums_bg">
                <ul data-ng-repeat="cat in cats">
                    <li><a class="breadcums_bg" href="#/cat/{{cat.id}}">{{cat.Name}}</a> </li>
                    <li>> </li>
                </ul>
                <span class="sort_bg">
                    <span class="sort_text">Sort by: </span>
                    <span class="sort">
                        <span class="sort_val">{{sort_defn}}</span>
                        <select data-ng-model="sortorder">
                            <option value="Name">Alphabetical (A-Z)</option>
                            <option value="+price.final_offer">Price (Low to high)</option>
                            <option value="-price.final_offer">Price (high to low)</option>
                            <option value="-price.discount">Overall Discount (high to low)</option>
                            <option value="+brand">Brand</option>
                        </select>
                    </span>
                </span>
            </span>
            <div class="cat_body_container">
                <div class="left_side">
                    <a href="#" class="filterby_text">Filter By</a>
                    <a href="#" class="reset_all">RESET ALL</a>
                    <ul class="block">
                        <li>
                            <div>
                                <span class="block_title">
                                    <span class="left-cat-title">Brands </span>
                                    <a href="" class="refresh" data-ng-click="refresh_filters()"></a>
                                </span>

                                <span ng-repeat="brand_name in brand_filter" class="block_content">
                                    <input type='checkbox' value="{{brand_name}}" check-list='checked_vals'
                                        data-ng-click="apply_filter('brand',brand_name)">
                                        <label>{{brand_name}}  </label>
                                    </input>
                                </span>

                            </div>
                        </li>
                        <li>
                            <span class="block_title">
                                <span ng-show="store_type != 'P' && filter_display!='P'" class="left-cat-title">Price Range</span>
                                <span ng-show="filter_display=='P'" class="left-cat-title">Points Range</span>
                                <a href="" class="refresh" data-ng-click="refresh_filters()"></a>
                            </span>
                            <span class="block_content">
                                <div class="price-input">
                                    <span ng-show="store_type != 'P' && filter_display!='P'" class="rupee">&#x20B9;</span>
                                    <!--<span ng-show="store_type == 'P'" clasContent/custom_images/Header/Cart.pngs="rupee">Points</span>-->
                                    <input type="text" ng-model="min_price_sku" />
                                </div>
                                <div class="price-input">
                                    <span ng-show="store_type != 'P' && filter_display!='P'" class="rupee">&#x20B9;</span>
                                    <input type="text" ng-model="max_price_sku" />
                                </div>
                                <input type="submit" data-ng-click="apply_filter('price')" value="" class="pricerange_btn" />

                            </span>
                        </li>
                        <li>
                            <div ng-repeat="filter in filters">
                                <span class="block_title">
                                    <span class="left-cat-title">{{filter.name}}   </span>
                                    <a href="" class="refresh" data-ng-click="refresh_filters()"></a>
                                </span>
                                <div style="max-height: 200px; overflow-y: auto; margin-top: 10px;">
                                    <!--<span ng-repeat="val in filter.values | sort" class="block_content">-->

                                    <span ng-repeat="val in filter.values | sort" class="block_content">

                                        <input type='checkbox' value="{{val}}" check-list='checked_vals'
                                            data-ng-click="apply_filter(filter.name, val)">
                                            <label>{{val}}  </label>
                                        </input>

                                    </span>
                                </div>
                        </li>

                        <li>
                            <span class="block_title">
                                <span class="left-cat-title">Discount</span>
                                <a href="" class="refresh" data-ng-click="refresh_filters()"></a>
                            </span>
                            <span class="block_content">
                                <p>
                                    <input type="radio" data-ng-model="discount_filter" data-ng-click="apply_filter('discount')" value="10" /><label>Upto 10%</label>
                                </p>
                                <p>
                                    <input type="radio" data-ng-model="discount_filter" data-ng-click="apply_filter('discount')" value="25" /><label>10%-25%</label>
                                </p>
                                <p>
                                    <input type="radio" data-ng-model="discount_filter" data-ng-click="apply_filter('discount')" value="100" /><label>More than 25%</label>
                                </p>
                                <p>
                                    <input type="radio" data-ng-model="discount_filter" data-ng-click="apply_filter('discount')" value="0" /><label>All</label>
                                </p>
                                <!--<form>-->
                                <!--<p><input type="checkbox" data-ng-click="apply_filter('discount', 10)" value=""/><label>Upto 10%</label></p>-->
                                <!--<p><input type="checkbox" data-ng-click="apply_filter('discount', 25)" value=""/><label>10% to 25%</label></p>-->
                                <!--<p><input type="checkbox" value="" data-ng-click="apply_filter('discount', 26)"/><label>More than 25%</label></p>-->
                                <!--<p><input type="checkbox" value=""/><label>Sale</label></p>-->

                                <!--</form>-->
                            </span>
                        </li>

                    </ul>

                </div>
                <span class="right_side">
                    <span class="big_image">
                        <img ng-src="{{cat_image}}" />
                    </span>

                    <ul class="category-details">
                        <li data-ng-repeat="product in productList | orderBy:sortorder">

                            <span class="cat_image">
                                <a href="#/prod/{{product.id}}">
                                    <img src="{{product.image_urls[0].link}}" />
                                </a>
                                <span class="add_cart_bg">
                                    <a href="" class="add_btn" data-ng-click="addTocart(product)">ADD TO CART</a>
                                    <div class="quick_bg">
                                        <span class="rating">2</span>
                                        <a href="#" class="quick-buy">QUICK BUY</a>
                                    </div>
                                </span>
                            </span>
                            <p class="cat_title">{{product.Name}}</p>
                            <ul>
                                <li ng-show="store_type != 'P' && filter_display!='P'">MRP: <span ng-show="product.price.final_discount > 0" class="mrp">&#x20B9;{{product.price.mrp}}</span></li>
                                <li>{{product.price.discount}}% off</li>
                            </ul>
                            <ul class="offer">
                                <li ng-show="store_type != 'P' && filter_display!='P'">Offer: &#x20B9;{{product.price.final_offer}}</li>
                                <li>Points: {{product.point}}</li>
                            </ul>
                        </li>

                    </ul>
                    <!--<a href="#" class="show_more">SHOW MORE PRODUCTS<span class="show_more_arrow"></span></a>-->
                </span>

            </div>
            <!-- end: category details -->






        </div>




        <!--<div class="container">-->
        <!--<div class="row">-->
        <!--<div class="span6">-->
        <!--<a href="#/home">Home</a> >>-->
        <!--<a href="#/brand/{{brand}}">{{brand}}</a>-->
        <!--&lt;!&ndash;Breadcrumb to be implemented&ndash;&gt;-->
        <!--</div>-->

        <!--</div>-->
        <!--<div class="row">-->
        <!--<div class="span9">-->

        <!--<select ng-model="sortorder">-->
        <!--<option value="Name">Alphabetical (A-Z)</option>-->
        <!--<option value="+price.final_offer">Price (Low to high)</option>-->
        <!--<option value="-price.final_offer">Price (high to low)</option>-->
        <!--<option value="-price.discount">Overall Discount (high to low)</option>-->
        <!--&lt;!&ndash;<option value="+brand">Brand</option>&ndash;&gt;-->

        <!--</select>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
        <!--<div class="span2">-->
        <!--&lt;!&ndash;Sidebar content&ndash;&gt;-->
        <!--<div class="sidebar" >-->
        <!--&lt;!&ndash;<button ng-click="test()">test</button>&ndash;&gt;-->
        <!--<div data-ng-repeat="cat in category_list">-->
        <!--<a href="#cat/{{cat.id}}">-->
        <!--{{cat.Name}}-->
        <!--</a>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="span7" >-->
        <!--<div class="span2 product" data-ng-repeat="product in productList | orderBy:sortorder" >-->

        <!--<a class="product_name" href="#/prod/{{product.id}}"   tooltip-html-unsafe="{{product.description}}" >-->
        <!--<img class="img" src="{{product.image}}" />-->
        <!--<br/>-->
        <!--{{ product.Name }} <br/>-->
        <!--</a>-->

        <!--<span class="price-cut_small" tooltip-html-unsafe="Retail Price">-->
        <!--<del>&#2352;</del>-->
        <!--{{product.price.mrp}}/--->
        <!--</span>-->
        <!--&nbsp-->
        <!--<span ng-switch on="special_price">-->
        <!--<span ng-switch-when=1>-->
        <!--<span class="price-cut_small" tooltip-html-unsafe="Our Price ({{product.price.discount}}% off) ">-->
        <!--<del>&#2352;</del> <span>{{product.price.list}}/-</span>-->
        <!--</span>    &nbsp-->
        <!--&lt;!&ndash;<span class="price-cut-noline_small">&ndash;&gt;-->
        <!--&lt;!&ndash;({{product.price.discount}}%)&ndash;&gt;-->
        <!--&lt;!&ndash;</span>&ndash;&gt;-->
        <!--<span class="price_small" tooltip-html-unsafe="Special Price ({{product.price.final_discount}}% off)">-->
        <!--<del>&#2352;</del> <span>{{product.price.final_offer}}/-</span>-->
        <!--</span>-->
        <!--</span>-->
        <!--<span ng-switch-when=0>-->
        <!--<span class="price_small" tooltip-html-unsafe="Our Price">-->
        <!--<del>&#2352;</del> <span>{{product.price.final_offer}}/-</span>-->
        <!--</span>-->
        <!--<span class="price-cut-noline_small">-->
        <!--({{product.price.discount}}%)-->
        <!--</span>-->
        <!--</span>-->

        <!--</span>-->
        <!--<br/>-->
        <!--<span class="point_small">-->
        <!--{{product.point}} points-->
        <!--</span>-->
        <!--<a href="" style="float: right" data-ng-click="addTocart(product)"-->
        <!--tooltip-html-unsafe="Click here to Add to Cart">-->
        <!--<img alt="Cart" class="cart_smaller" src="/Content/custom_images/cart.png"/></a>-->



        <!--<hr/>-->

        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->



    </div>
</div>
