﻿<div class="container">
    <header>
        <h3>TALK TO US</h3>
    </header>
    <br/>
    <div class="container checkout">

        <div class="contusleft">
            <div class="leftheader">
                You Need :
            </div>
            <div class="spacer"></div>
            General Information<br />
            <div class="spacer"></div>
            <textarea name="generalinformation" data-ng-model="enquire.general_information" class="cutextarea" rows="5" cols="50"></textarea>
            <div class="spacer"></div>
            Product Information<br/>
            <div class="spacer"></div>
            <div class="contusleftsub">
                Product Code
                <div class="spacer"></div>
                <textarea name="productcode" data-ng-model="enquire.product_code" class="cutextarea" rows="5" cols="50"></textarea>
            </div>
            <div class="spacer"></div>
            <div class="contusleftsub">
                Additional Remarks
                <div class="spacer"></div>
                <textarea name="additionalremarks" data-ng-model="enquire.additional_remarks" class="cutextarea" rows="5" cols="50"></textarea>
            </div>
            <i>* Please select atleast one</i>
        </div>
        <div class="contusright">
            <div class="leftheader">
                Fill in the Following Fields ( * Fields are mandatory )
            </div>
            <div class="spacer"></div>
            Name*<br />
            <div class="spacer"></div>
            <input type="text" name="name" class="cutextbox" data-ng-model="enquire.name" />
            <div class="spacer"></div>
            Mobile*<br />
            <div class="spacer"></div>
            <input type="text" name="mobile" class="cutextbox" data-ng-model="enquire.mobile_no" />
            <div class="spacer"></div>
            Email*<br />
            <div class="spacer"></div>
            <input type="text" name="email" class="cutextbox" data-ng-model="enquire.email" />
            <div class="spacer"></div>
            City<br />
            <div class="spacer"></div>
            <select data-ng-model="enquire.operating_city" name="city" style="height: 35px; width: 70%">
                <option></option>
                <option value="kolkata">Kolkata</option>
                <option value="Bangalore">Bangalore</option>
                <option value="Delhi">Delhi</option>
                <option value ="Mumbai">Mumbai</option>
                <option value="Chennai">Chennai</option>
            </select>
            <div class="spacer"></div>
            Company Name<br />
            <div class="spacer"></div>
            <input type="text" name="mobile" class="cutextbox" data-ng-model="enquire.company_name" />
            <div class="spacer"></div>
            <div class="spacer"></div>
            <div class="buttonspace">
                <input type="submit" name="submit" class="cubutton" data-ng-click="SaveEnquireRecord()">
            </div>
        </div>
    </div>
    <!-- end: CHECKOUT -->


    <!-- End: content -->
</div>

<div class="loader" ng-show="show_loader">

    <!--    <img src="images/loading_blue.gif"> -->
    <img src="http://localhost:8085/Content/customer_images/loads.gif">
</div>
