﻿<div class="message view">
    <div class="container">
        <header>
            <br />
            <br />
            <h3>Message</h3>
        </header>
        <div class="container-fluid">
            <div class="row">
                <!--START : LOGIN POPUP-->
                <div class="black_cover">
                    <div class="popup_bg">
                        <span class="tab_section">
                            <a href="#/home"><span class="popupclose"></span></a>
                            <ul>
                                <li><a href="#/login">Login</a></li>
                                <li><a href="#/registration">Register</a></li>
                                <li><a href="#/forgot_password">Forgot password</a></li>
                                <li class="active">Message</li>
                            </ul>
                        </span>
                        <p class="clear"></p>
                        <!--MESSAGE TAB START-->
                        <div class="tab_content_section">
                            <span>{{message}}
                            </span>
                            <span>
                                <input type="submit" value="Click Here To Resend Activation Email" ng-click="ResendActCode()" ng-hide="showButton()">
                                <!--  <button ng-click="ResendActCode()" ng-hide="showButton()">Click Here To Send Activation Email</button>-->
                            </span>
                        </div>
                        <!--MESSAGE TAB END-->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
