<div class="special view">
    <div class="container">
        <header>
            <!--<h3> &nbsp</h3>-->
        </header>
        <br/>

        <!-- Start: category details -->
        <div class="container cat-details">
        <span  class="breadcums_bg">
                        <ul data-ng-repeat="cat in cats">
                            <li><a class="breadcums_bg" href="#/cat/{{cat.id}}">    {{cat.Name}}  </a> </li>
                            <li> > </li>
                        </ul>
                     <span class="sort_bg">
                        <span class="sort_text">Sort by: </span>
                        <span class="sort">
                            <span class="sort_val">{{sort_defn}}</span>
                            <select data-ng-model="sortorder">
                                <option value="Name">Alphabetical (A-Z)</option>
                                <option value="+parseInt(price.final_offer)">Price (Low to high)</option>
                                <option value="-parseInt(price.final_offer)">Price (high to low)</option>
                                <option value="-parseInt(price.discount)">Overall Discount (high to low)</option>
                                <option value="+brand">Brand</option>
                            </select>
                        </span>
                    </span>
        </span>
            <div class="cat_body_container">
                <div class="left_side">
                    <a href="#" class="filterby_text">Filter By</a>
                    <a href="#" class="reset_all">RESET ALL</a>
                    <ul class="block">
                        <li>
                            <div ng-repeat="filter in filters" >
                        <span class="block_title">
                            <span class="left-cat-title">{{filter.name}}   </span>
			                <a href="#" class="refresh"></a>
                        </span>

                            <span ng-repeat="val in filter.values" class="block_content">

                                <input  type='checkbox' value="{{val}}" check-list='checked_vals'
                                        data-ng-click="apply_filter(filter.name, val)"
                                        >
                                     <label>{{val}}  </label>
                                </input>

                            </span>
                            </div>
                        </li>
                        <li>
                            <div   >
                           <span class="block_title">
                                <span class="left-cat-title">Brands </span>
                                <a href="#" class="refresh"></a>
                            </span>

                            <span ng-repeat="brand_name in brand_filter" class="block_content">
                                <input  type='checkbox' value="{{brand_name}}" check-list='checked_vals'
                                        data-ng-click="apply_filter('brand',brand_name.toLowerCase())">
                                     <label>{{brand_name}}  </label>
                                </input>
                            </span>

                            </div>
                        </li>
                        <li>
                    <span class="block_title">
                        <span class="left-cat-title">Price Range</span>
                        <a href="#" class="refresh"></a>
                    </span>
                    <span class="block_content">
                    <div class="price_range_bg">
                        <div class="price_border"></div>
                        <a href="#" class="left_corcle"></a>
                        <a href="#" class="right_corcle"></a>
                    </div>
                                <form class="pricerange">
                                    <div class="price-input"><span class="rupee">&#x20B9;</span> <input type="text" value="200"/></div>
                                    <div class="price-input"><span class="rupee">&#x20B9;</span><input type="text" value="999"/></div>
                                    <input type="submit" value="" class="pricerange_btn"/>
                                </form>
                    </span>
                        </li>
                        <li>
                    <span class="block_title">
                        <span class="left-cat-title">Discount</span>
                        <a href="#" class="refresh"></a>
                    </span>
                    <span class="block_content">
                        <form>
                            <p><input type="checkbox" value=""/><label>More than 10%</label></p>
                            <p><input type="checkbox" value=""/><label>More than 25%</label></p>
                            <p><input type="checkbox" value=""/><label>More than 25%</label></p>
                            <p><input type="checkbox" value=""/><label>Sale</label></p>

                        </form>
                    </span>
                        </li>

                    </ul>
                </div>
            <span class="right_side">
            <span class="big_image">
                    <img ng-src="{{cat_image}}"/>
            </span>

            <ul class="category-details" >
                <li data-ng-repeat="product in productList | orderBy:sortorder">
            <span class="cat_image">

                <a href="#/prod/{{product.id}}">
                    <img style="width: 320px;" ng-src="{{product.image_urls[0].link}}"/>
                </a>


                <span class="add_cart_bg">
                <a href="" class="add_btn" data-ng-click="addTocart(product)">ADD TO CART</a>
                    <div class="quick_bg">
                        <span class="rating">2</span>
                        <a href="" data-ng-click="openQuickBuy(product.id)" class="quick-buy">QUICK BUY</a>
                    </div>
                </span>
            </span>
                    <p class="cat_title">{{product.Name}}</p>
                    <ul>
                        <li>MRP: <span class="mrp">Rs.{{product.price.mrp}}</span></li>
                        <li>{{product.price.final_discount}}% off</li>
                    </ul>
                    <ul class="offer">
                        <li>Offer: Rs.{{product.price.final_offer}}</li>
                        <li>Points: {{product.point}}</li>
                    </ul>
                </li>

            </ul>
        <!--<a href="#" class="show_more">SHOW MORE PRODUCTS<span class="show_more_arrow"></span></a>-->
        </span>

            </div>
            <!-- end: category details -->






        </div>
    </div>
</div>
