<div class="forgotpassword view">
    <div class="container">
        <header>
            <br />
            <br />
            <h3>Forget Password</h3>
        </header>
        <div class="container-fluid">
            <div class="row">
                <!--START : LOGIN POPUP-->
                <div class="black_cover">
                    <div class="popup_bg">
                        <span class="tab_section">
                            <ul>
                                <li><a href="#">Forget Password</a></li>
                            </ul>
                        </span>
                        <p class="clear"></p>
                        <!--LOGIN TAB START-->
                        <div class="tab_content_section">

                            <span>
                                <img src="../../Content/custom_images/Loading.gif" style="width:50px;height:50px;" ng-show="isViewLoading" />
                            </span>
                            <span ng-show="isViewLoading">Processing... </span>
                            <span>
                                <label>Company E-mail Address</label>
                                <input type="text" value="" name="email" ng-model="registration.email_id" />
                            </span>
                            <span>
                                <input type="submit" value="Reset Password" ng-click="resetPassword()">
                            </span>

                            <a href="#/login/">Back to Login</a>
                            <br />

                        </div>
                        <!--LOGIN TAB END-->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
