﻿﻿<div class="reg view">
    <div class="container" id="regDiv" ng-controller="registrationController">
        <header>
            <h3>&nbsp</h3>
        </header>
        <div class="row">

            <!--START : LOGIN POPUP-->
            <div class="black_cover">
                <div class="popup_bg">
                    <span class="tab_section">
                        <!--<a href="#/home"><span class="popupclose"></span></a>-->
                        <ul>
                            <li><a href="#/login">Login</a></li>
                            <li class="active">Register</li>
                            <!--<li><a href="#/forgot_password">Forgot password</a></li>
                            <li><a href="#/message">Message</a></li>-->
                        </ul>
                    </span>



                    <!--REGISTER TAB START-->
                    <div style="padding-top:60px;" class="tab_content_section">


                        <span >
                            <label>Name</label>
                            <input type="text" value="" id="first_name" placeholder="First" ng-model="registration.first_name" />
                            
                        </span>
                        <span>
                           
                            <input type="text" value="" id="Text2" placeholder="Last" ng-model="registration.last_name" />
                        </span>
                        <span>
                            <label>Your Mobile Number</label>
                            <input type="text" value="" name="mobile_number" ng-model="registration.mobile_no"  />
                        </span>
                        <span>
                            <label>Company E-mail Address</label>
                            <input type="text" value="" name="email" ng-model="registration.email_id" />
                        </span>
                        <span>
                            <label>Password</label>
                            <input type="password" value="" name="password" ng-model="registration.password" />

                        </span>
                        <span>
                            <label>Confirm Password</label>
                            <input type="password" value="" name="conpassword" />
                        </span>
                        <!--<span>-->
                        <!--<label>Prove you are not a robot</label>-->
                        <!--<span class="captcha_bg">-->
                        <!--<span class="captcha_image">-->
                        <!--<img src="Content/custom_images/login/captcha.png"/>-->
                        <!--</span>-->
                        <!--<ul class="cptcha_icon">-->
                        <!--<li><a href=""  class="icon1"></a></li>-->
                        <!--<li><a href=""  class="icon2"></a></li>-->
                        <!--<li><a href=""  class="icon3"></a></li>-->
                        <!--</ul>-->
                        <!--<input type="text" value="" class="captcha_input"/>-->

                        <!--</span>-->
                        <!--</span>-->
                        <span>
                            <input type="submit" value="Register" ng-click="addRegistration()">
                        </span>

                        <span>
                            <img src="../../Content/custom_images/Loading.gif" style="width: 50px; height: 50px;" ng-show="isViewLoading" />
                        </span>
                        <span ng-show="isViewLoading">Processing... </span>


                    </div>
                    <!--REGISTER TAB END-->

                    <!--FORGOT PASSWORD TAB START-->
                    <!--    <div class="tab_content_section" style="display:none">
                    <form>
                    <span>-->
                    <!--<label>User ID</label>-->
                    <!--<input type="text" value="" name="userid"/>-->
                    <!--</span>-->
                    <!--<span>-->
                    <!--<label>Company E-mail Address</label>-->
                    <!--<input type="text" value="" name="email" />-->
                    <!--</span>-->
                    <!--<span>-->
                    <!--<label>Prove you are not a robot</label>-->
                    <!--<span class="captcha_bg">-->
                    <!--<span class="captcha_image">-->
                    <!--<img src="Content/custom_images/login/captcha.png"/>-->
                    <!--</span>-->
                    <!--<ul class="cptcha_icon">-->
                    <!--<li><a href=""  class="icon1"></a></li>-->
                    <!--<li><a href=""  class="icon2"></a></li>-->
                    <!--<li><a href=""  class="icon3"></a></li>-->
                    <!--</ul>-->
                    <!--<input type="text" value="" class="captcha_input"/>-->

                    <!--</span>-->
                    <!--</span>-->
                    <!--<span>-->
                    <!--<input type="submit" value="Submit">-->
                    <!--</span>-->
                    <!--</form>-->
                    <!--</div>-->
                    <!--FORGOT PASSWORD TAB END-->

                </div>
            </div>
            <!--END : LOGIN POPUP-->

            <div class="span8">
                <!--<label class="control-label">First Name</label>-->
                <div>
                    <input type="text" placeholder="Enter First Name" class="input-xlarge" id="fname" name="fname" ng-model="registration.first_name" />
                </div>
            </div>
            <div class="span8">
                <!--                <label class="control-label">Last Name</label>-->
                <div>
                    <input type="text" placeholder="Enter Last Name" class="input-xlarge" id="lname" name="lname" ng-model="registration.last_name" />
                </div>
            </div>
            <div class="span8">

                <div class="controls">
                    <label class="radio">
                        <input type="radio" name="Gender" ng-model="registration.gender" value="1">Male</label>
                    <label class="radio">
                        <input type="radio" name="Gender" ng-model="registration.gender" value="2">Female</label>
                </div>
            </div>
            <div class="span8">
                <!-- <label class="control-label">Email</label>-->
                <div class="controls">
                    <input type="text" placeholder="Enter Email Address" class="input-xlarge" id="email" name="email" ng-model="registration.email_id" />
                </div>
            </div>

            <!-- <div class="span8">
                <label class="control-label">Confirm Email</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="confirmemail" />
                </div>
            </div>-->

            <div class="span8">
                <!-- <label class="control-label">Mobile No</label>-->
                <div class="controls">
                    <input type="text" placeholder="Enter Mobile No" class="input-xlarge" id="mobileno" ng-model="registration.mobile_no" />
                </div>
            </div>


            <!--            <div class="span8">
                <label class="control-label">Street</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="street" name="street" ng-model="registration.street" />
                </div>
            </div>

            <div class="span8">
                <label class="control-label">City</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="city" name="city" ng-model="registration.city" />
                </div>
            </div>

            <div class="span8">
                <label class="control-label">State</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="state" name="state" ng-model="registration.state" />
                </div>
            </div>

            <div class="span8">
                <label class="control-label">Country</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="country" name="country" ng-model="registration.country" />
                </div>
            </div>

            <div class="span8">
                <label class="control-label">Zip Code</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="zip" name="zip" ng-model="registration.zipcode" />
                </div>
            </div>-->

            <div class="span8">
                <!--<label class="control-label">Password</label>-->
                <div class="controls">
                    <input type="password" placeholder="Enter Password" id="passwd" class="input-xlarge" ng-model="registration.password" />
                </div>
            </div>

            <div class="span8">
                <!--<label class="control-label">Confirm Password</label>-->
                <div class="controls">
                    <input type="password" placeholder="Confirm Password" id="conpasswd" class="input-xlarge" />
                </div>
            </div>

            <div class="span8">
                <div class="controls">
                    <input type="submit" class="btn btn-success" ng-click="addRegistration()" value="Create My Account" />
                </div>
            </div>
            <!-- -->
        </div>
    </div>
</div>
