<div class="ship view">
    <div class="container">

        <!-- Start: content -->
        <!-- Start: CHECKOUT -->
        <div class="container checkout">
            <div ng-show="loading">bbb</div>
            <span class="title">Shipping Address</span>
            <table class="checkout_table">
                <tr>
                    <td width="316">

                        <span class="title_table">Select from previous shipping address</span>
                        <div style="height: 400px; overflow: scroll">

                            <a data-ng-repeat="shipping in user_shipping_list"
                               class="des" href="" data-ng-click="select_address(shipping)">

                                {{shipping.name}}<br/>
                                {{shipping.address}}<br/>
                                {{shipping.city}}, {{shipping.state}}<br/>
                                {{shipping.pincode}}<br/>
                                Mobile: {{shipping.mobile_number}}<br/>
                                <br/>
                            </a>


                        </div>
                    </td>
                    <td width="288">
                        <span class="title_table">Enter a new shipping address</span>
                        <!--<form class="ship_add_form" method="post">-->
				<span>
					<label>Name*</label>
					<input type="text" ng-model="selected_address.name" value=""/>
				</span>
				<span>
					<label>Pincode*</label>
					<input type="text" ng-model="selected_address.pincode" value=""/>
				</span>
				<span>
					<label>Address*</label>
					<textarea type="text"  ng-model="selected_address.address" value=""></textarea>
				</span>
				<span>
					<label>City*</label>
					<input type="text" ng-model="selected_address.city" value=""/>
				</span>
				<span>
					<label>State*</label>
                    <span class="sort_bg">

                            <span class="sort">
                                <!--<span class="sort_val">{{selected_address.state}}</span>-->
                                <select ng-model="selected_address.state" ng-options="state.text as state.text for state in state_list">

                                </select>
                            </span>
                    </span>
					<!--<span class="state_bg">-->
					<!--<span class="state">- select -</span>-->
					<!--<select ng-model="shipping.selected_state" ng-options="state as state.text for state in state_list">-->

                    <!--</select>-->
					<!--</span>-->
				</span>
				<span>
					<label>Phone*</label>
					<input type="text" ng-model="selected_address.mobile_number" value=""/>
				</span>

                    </td>
                    <td data-ng-controller="cartController">
                        <span class="title_table">Order summary <p>({{cart_size}} items)</p></span>
                        <ul class="order">
                            <li data-ng-repeat="cart_item in cart">
                                <span class="img_con"><img src="{{cart_item.image.thumb_link}}"></span>
                                    <span class="right_des">
                                    <span class="price" ng-show="store_type != 'P'">₹ {{cart_item.final_offer * cart_item.quantity }}</span>
                                    <span class="price" ng-show="store_type == 'P'">{{cart_item.final_offer * cart_item.quantity * conv_ratio }} Points</span>
                                    <span class="prd_title">{{cart_item.name}}</span>
                                    <span class="prd_code">Code: {{cart_item.sku}}
                                    <br/>QTY:
                                        <input type="text" ng-change="changeQty($event)" data-ng-model="cart_item.quantity" value="{{cart_item.quantity}}" class="qt"/>

                                    <span class="prd_code" ng-show="cart_item.sizes != null">SIZE:
                                        <span class="sort">
                                                                <!--<span class="sort_val">{{cart_item.sku}}</span>-->
                                                                <!--<select data-ng-model="cart_item.sku" ng-show="cart_item.sizes != null" ng-change="update_cart_item_size()">-->
                                                                    <!--<option data-ng-repeat="size in cart_item.sizes" value="{{size.sku}}">{{size.size}}</option>-->
                                                                <!--</select>-->
                                                        <select style="width: 60px;  "
                                                                data-ng-options="c.size as c.size for c in cart_item.sizes"
                                                                data-ng-model="cart_item.selected_size"
                                                                ng-show="cart_item.sizes != null"
                                                                ng-change="update_cart_item_size()">
                                                            <!--<option data-ng-repeat="size in cart_item.sizes" value="{{size.size}}">{{size.size}}</option>-->
                                                        </select>
                                        </span>
                                    </span>
                                    <img ng-show="cart_item.express" title="Items can be shipped in same day" ng-src="../Content/custom_images/express.png" />
                                </span>
                                        </span>
                            </li>
                            <span class="scroll_bg"><span class="scroll"></span></span>
                        </ul>
                        <span class="shipping_r" ng-show="store_type != 'P'">Shipping<p>{{shipping}}</p></span>
                        <span class="shipping_r" ng-show="store_type == 'P'">Shipping<p>{{shipping * conv_ratio}}</p></span>
                        <span class="order_total" ng-show="store_type != 'P'"> order TOTAL<p>₹ {{total_amount_billable}}</p></span>
                        <span class="order_total" ng-show="store_type == 'P'"> order TOTAL<p> {{total_amount_billable * conv_ratio}} Points</p></span>
                    </td>
                </tr>
            </table>
            <p class="save_continue_bg">
                <input type="submit" data-ng-click="save_data()" value="SAVE & CONTINUE" class="btn_all"/>
            </p>


        </div>
        <!-- end: CHECKOUT -->


        <!-- End: content -->





    </div>
</div>

